{% extends "base.html.twig "%}

{% block title %} {% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8"> 
            </div>
            <div class="col-md-4"> 
                <h1> elyes </h1>
                <h2> ben nejma</h2>
                <div class="text-primary" style="font-size:4rem;font-weight:bold"> 200 mille</div>
                <a href="" class="btn btn-primary">retour au taches</a>
            </div>    
        </div>
    </div>
    <div class ="container mt-4">
    <p>
    
    </p>
    <div class="row">
        <div class="col-md-8"> 
            <div class="table table-striped">
                <tr>
                <td>titre</td>
                <td>titre</td>
                </tr>
                <tr>
                <td>statut</td>
                <td>statut</td>
                </tr>
                <tr>
                <td>date</td>
                <td>date</td>
                </tr>
            </div>
        </div>
    </div>
 
    </div>

{% endblock %}